<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodingPATSHALA</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/signup.css" rel="stylesheet">
    <link href="/css/quiz.css" rel="stylesheet">
    
</head>

<body>

    {{>navbar}}
    <hr>
    <main>
        <div class="maindiv">
            <div class="innerdiv">
                <h4 id="question">Question comes here</h4>
                <ul>
                    <li>
                        <input type="radio" name="answer" id="ans1" class="answer">
                        <label for="ans1" id="opt1">option</label>
                    </li>
                    <li>
                        <input type="radio" name="answer" id="ans2" class="answer">
                        <label for="ans2" id="opt2">option</label>
                    </li>
                    <li>
                        <input type="radio" name="answer" id="ans3" class="answer">
                        <label for="ans3" id="opt3">option</label>
                    </li>
                    <li>
                        <input type="radio" name="answer" id="ans4" class="answer">
                        <label for="ans4" id="opt4">option</label>
                    </li>
                </ul>
                <button class="submit" id="submit">Next</button>
                <div class="showscore" id="results" >
                </div>
            </div> 
        </div>
        <div class="hidden11">{{ques}}</div>
    </main>
    <footer>

        <div class="lowerfooter">
            <p>&copy; All Rights Reserved. Designed by <a href="About_us.html"
                    rel="nofollow" style="color: aquamarine">WebVoyagers</a></p>
        </div>
    </footer>
    <script src="/js/quizdb.js"></script>
</body>

</html>