<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodingPATSHALA</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/signup.css" rel="stylesheet">
    <link href="/css/quiz.css" rel="stylesheet">
    
</head>

<body>

    {{>navbar}}
    <main>
        <div class="insInst">
            <h2>{{topic}} Quiz</h2>
            <p>
                Test your {{topic}} skills with CodingPATSHALA's quiz.
            </p>
            <br>
            <h3>Instructions</h3>
            <p>
                The test contains 5 questions, there is no time limit.
                <br>
                You will get 2 points for each correct answer. At the end of the Quiz, your total score will be displayed. Maximum score is 10 points.
                <br>
                <br>
                The test is not official, it's just a nice way to see how much you know, or don't know, about HTML.
            </p>
            <br>
            <a href="/quiz" id="home">Start the quiz</a>
        </div>
    </main>
    <footer>

        <div class="lowerfooter">
            <p>&copy; All Rights Reserved. Designed by <a href="About_us.html"
                    rel="nofollow" style="color: aquamarine">WebVoyagers</a></p>
        </div>
        <div class="hidden11"> </div>
    </footer>
    <script src="/css/quiz.css"></script>
</body>

</html>