<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CodingPATSHALA</title>
        <link rel="icon" href="/img/logo1-icon.png" type="image/x-icon">
    
        <link href="/css/linkPage.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
       
        <!-- <link rel="stylesheet" href=" /css/Font_animation.css"> -->
    
    </head>
<body>
        {{>navbar}}
    <main>
        <h1>Book links, Online material</h1>
        <br><br>
        <section class="cards" id="cards">
            <div class="max-width">
                <div class="cards-content">
                    <div class="card">
                        <div class="box">
                            <a target="_blank" href="https://pdfcoffee.com/jon-duckett-html-and-css-design-and-build-websitespdf-pdf-free.html">
                                <img src="/img/htmlcsscource.jpeg" height="210px" alt="open with a different browser">
                                <div class="text"></div>
                               <h2>
                                    Html and Css
                                </h2>
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <a target="_blank" href="https://books.goalkicker.com/NodeJSBook/">
                                <img src="/img/nodejscourse.png" height="210px" alt="">
                                <div class="text"></div>
                                <h2>
                                    Node js
                                </h2>
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <a target="_blank" href="https://books.goalkicker.com/ReactJSBook/">
                                <img src="/img/reactjscourse.jpg" height="210px" alt="">
                                <div class="text"></div>
                                <h2>
                                    React js
                                </h2>
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <a href="#">
                                <img src="" height="210px" alt="">
                                <div class="text"></div>
                                <p>
                                    
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <a href="#">
                                <img src="" height="210px" alt="">
                                <div class="text"></div>
                                <p>
                                  
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <a href="#">
                                <img src="" height="210px" alt="">
                                <div class="text"></div>
                                <p>
                                    
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>

    </main>
     

    <footer>
     <div class="lowerfooter">
            <p>&copy; All Right Reserved. Designed by <a href="About_us.html" rel="nofollow"
                    style="color: aquamarine">WebVoyagers</a></p>
        </div>
    </footer>
    <script src="/public/js/home.js"></script>
</body>
</html>