<header>
        <nav>
            <div class="logo">
                <a href="index.html" class="logo"><img src=" /img/logo1png.png" alt="" class="img-fluid"></a>
            </div>
            <ul>
                <li><a href="/" id="home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Courses
                          <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                          <a href="/htmlcss">Html Css</a>
                          <a href="/reactjs">React Js</a>
                          <a href="/nodejs">Node Js</a>
                        </div>
                      </div> 
                </li>
                <li><a href="/#contact">Contact</a></li>
                <li class="invisible1"><a href="/register">Sign Up</a></li>
                <li class="invisible2"><a href="/signin">Sign In</a></li>
                <li class="signout"><a href="/signout">Sign out</a></li>
                
                <ul>
        </nav>
        <br>
    </header>